@use "global" as *;

/* ----- 下層ページのキャンペーンページ ----- */
.sub-voice__inner{
  max-width: rem(600); //タブレット時の間延び防止用
}

.sub-voice__pagenavi{
  margin-top: rem(80);

  @include mq(md){
    margin-top: rem(72);
  }
}