@use "global" as *;

/* ----- 下層ページのBlog(ブログ一覧) ----- */
.sub-blog__container{
  display: flex;
  flex-direction: column;
  gap: rem(79);

  @include mq(md){
    flex-direction: row;
    gap: rem(80);
  }
}

.sub-blog__main-content{
  width: 100%;

  @include mq(md){
    width: 65.37%;
    max-width: 100%;
  }
}

.sub-blog__list{
  padding-inline: rem(6);

  @include mq(md){
    padding-inline: 0;
  }
}

.sub-blog__pagenavi{
  margin-top: rem(80);
}
