@use "global" as *;

/* ----- トップページのVoiceセクション ----- */
.top-voice__bg {
  padding-top: rem(89);
  padding-bottom: rem(84);

  @include mq(md){
    max-width: rem(1240) + rem(30);  //イラストのインナー幅+左右余白(15✕2)
    width: 100%;
    padding: rem(25) rem(15) rem(73);
    margin-inline: auto;
    background: url(../images/common/fishes-right.svg), url(../images/common/seahorse.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right 6.8% bottom;
    background-size: 24.2% auto, 5.8% auto;
    background-origin: content-box; //背景を描画する起点をパディング領域の内側の左上角にする
  }
}

.top-voice__inner{
  @include mq(md){
    padding-bottom: rem(72); //イラストの下まで
  }
}

.top-voice__heading{
  @include mq(md){
    margin-top: rem(118);
  }
}

.top-voice__list {
  margin-top: rem(50);
  max-width: rem(600);
  width: 100%;

  @include mq(md){
    margin-top: rem(35);
    grid-template-columns: repeat(2, 1fr);
    max-width: rem(1080);
  }
}

.top-voice__btn {
  margin-top: rem(40);
  text-align: center;

  @include mq(md){
    margin-top: rem(80);
  }
}
