@use "global" as *;

/* ----- トップページのblogセクション ----- */
.top-blog {
  @include mq(md){
    // background: url(../images/blog/blog-bg@2x.jpg) no-repeat;
    // background-position: top center;
    // background-size: 100% 60.5%;
    // aspect-ratio: 1440 / 500;
    // object-fit: cover;
    // background-size: cover;
    // background-position: 100% 60.5%;
    // width: 100%;
    // height: 60.5%;
    position: relative;
  }
}

.top-blog::before{
  @include mq(md){
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60.5%;
    background: url(../images/blog/blog-bg@2x.jpg) no-repeat;
    background-size: cover;
    aspect-ratio: 1440 / 500;
    z-index: -1;
  }
}

.top-blog__bg {
  padding-top: rem(85);

  @include mq(md){
    max-width: rem(1240) + rem(30);  //イラストのインナー幅+左右余白(15✕2)
    width: 100%;
    padding-top: rem(24);
    padding-left: rem(15);
    padding-right: rem(15);
    margin-inline: auto;
    background: url(../images/common/fishes-left-white.svg) no-repeat;
    background-position: left top;
    background-size: 35.2% auto;
    background-origin: content-box; //背景を描画する起点をパディング領域の内側の左上角にする
  }
}

.top-blog__inner {
  width: 100%;
  padding-right: rem(21);
  padding-left: rem(21);
  margin-inline: auto;

  @include mq(md) {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    position: relative;
  }
}

.top-blog__heading{
  @include mq(md){
    margin-top: rem(76);
  }
}

.top-blog__list {
  margin-top: rem(33);
  max-width: rem(600);
  width: 100%;

  @include mq(md){
    margin-top: rem(84);
    grid-template-columns: repeat(3, 1fr);
    max-width: rem(1080);
  }
}

.top-blog__btn {
  margin-top: rem(39);
  text-align: center;
  margin-right: rem(4); //ボタンをデザインカンプ通り(完全な中央揃えではない配置)にするなら使用

  @include mq(md){
    margin-top: rem(80);
  }
}
