@use "global" as *;

/* ----- トップページのpriceセクション ----- */
.top-price{
  background-color: $sub-green;
}

.top-price__bg{
  padding-top: rem(85);
  padding-bottom: rem(84);

  @include mq(md){
    max-width: rem(1240) + rem(30); //イラストのインナー幅+左右余白(15✕2)
    width: 100%;
    padding: rem(100) rem(15) rem(59);
    margin-inline: auto;
    background: url(../images/common/fishes-left.svg) no-repeat;
    background-position: left bottom;
    background-size: 35.2% auto;
    background-origin: content-box; //背景を描画する起点をパディング領域の内側の左上角にする
  }
}

.top-price__inner{
  @include mq(md){
    padding-bottom: rem(46); //イラストの下まで
  }
}

.top-price__content{
  margin-top: rem(32);

  @include mq(md){
    margin-top: rem(44);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.top-price__img{
  display: block;
  margin-inline: auto;
  max-width: rem(600);  //タブレット時の間延び防止用
  width: 100%;

  @include mq(md){
    width: calc(492 / 1080 * 100%);
    max-width: 100%;
    margin: 0;
  }
}

.top-price__img img{
  aspect-ratio: 345 / 227;
  width: 100%;
  height: auto;
  object-fit: cover;

  @include mq(md){
    aspect-ratio: 492 / 746;
  }
}

.top-price__list{
  margin-top: rem(40);
  margin-inline: auto;
  max-width: rem(600);  //タブレット時の間延び防止用
  width: 100%;


  @include mq(md){
    margin: 0;
    width: calc(492 / 1080 * 100%);
    max-width: 100%;
  }
}

.top-price__btn{
  margin-top: rem(40);
  text-align: center;

  @include mq(md){
    margin-top: rem(79);
  }
}
