@use "global" as *;
/* ----- 共通ボタン ----- */
.button a{
  width: rem(202); //全ボタンサイズ同じ：BEM設計としてはブロックに特定のwidthは入れない?
  max-width: 100%;
  display: inline-block; //blockではなくinline-blockの方が親要素で中央揃えなどの指定ができる

  padding: rem(15) rem(40);
  border: rem(1) solid $accent-green;
  background: $accent-green;
  color: $white;
  font-size: rem(14);
  font-family: $english-font-family;
  @include line-height(22,14);
  text-align: left;
  position: relative;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  // overflow: hidden;
}

.button a > div{
  width: rem(202);
  height: rem(54);
  border: rem(1) solid $accent-green;
  position: absolute;
  top: rem(4);
  left: rem(3.6);
  z-index: -5;
}

.button span{
  display: inline-block;
}

.button span::first-letter{
  text-transform: capitalize;
}

//矢印
.button span::before, .button span::after{
  content: "";
  position: absolute;
}

.button span::before {
  width: rem(10);
  height: rem(10);
  right: rem(42);
  top: 50%;
  transform: translateY(-40%) rotate(45deg);
  border-top: rem(1) solid $white;
}

.button span::after {
  width: rem(40);
  height: rem(1);
  right: rem(40);
  top: 53%;
  transform: translateY(-40%);
  background: $white;
}

//ホバースライド後
.button a::after{
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1); //https://easings.net/ja#easeInOutQuad
  z-index: -1;
}

//色反転ボタン(404ページ用)
.button--reversal a{
  border: rem(1) solid $white;
  background: $white;
  color: $accent-green;
  text-transform: capitalize;
}

.button--reversal a > div{
  border: rem(1) solid $white;
}

.button--reversal span::before{
  border-top: rem(1) solid $accent-green;
}

.button--reversal span::after{
  background: $accent-green;
}

.button--reversal a::after{
  background: $accent-green;
}

//ボタンホバー・アクティブ処理(hover使用可否で切替)
@media (hover: hover) {
  // hoverが使える端末 PC想定
  .button a:hover {
    color: $accent-green;
    opacity: 1;
  }
  .button a:hover span::before{
    border-top: rem(1) solid $accent-green;
  }
  .button a:hover span::after{
    background: $accent-green;
  }
  .button a:hover::after{
    transform: scale(1, 1);
  }
  // 色反転ボタン時
  .button--reversal a:hover{
    color: $white;
  }
  .button--reversal a:hover span::before{
    border-top: rem(1) solid $white;
  }
  .button--reversal a:hover span::after{
    background: $white;
  }
  // ボタンクリック時(押したことが分かりやすいように)
  .button a:active{
    transform: translate(rem(4), rem(4));
  }
  .button a:active div{
    opacity: 0;
  }
}
@media (hover: none) {
  // hoverが使えない端末 スマホ・タブレット想定
  .button a:active {
    opacity: 1;
    transform: translate(rem(4), rem(4));
  }
  .button a:active div{
    opacity: 0;
  }
}