@use "global" as *;

/* ----- サイドバーあり時のレイアウト(PC時２カラム) ----- */
.sidebar-container{
  display: flex;
  flex-direction: column;
  gap: rem(79);

  @include mq(md){
    flex-direction: row;
    gap: rem(80);
    // gap: rem(86); //ブログ詳細ページに合わせるならこっち(ピクパ)
  }
}