@use "global" as *;

/* ----- サイドバーあり時のメインコンテンツ ----- */
.sidebar-main-content{
  width: 100%;

  @include mq(md){
    width: 65.37%;
    // width: 64.8%; //ブログ詳細ページに合わせるならこっち(ピクパ)
    max-width: 100%;
  }
}