@use "global" as *;

/* ----- パンくずリスト(共通) ----- */
//WPプラグイン「Breadcrumb NavXT」使用予定
.sub-breadcrumbs{
  font-size: rem(14);
  line-height: 1;
  text-transform: uppercase;
  margin-top: rem(10);

  @include mq(md){
    margin-top: rem(11);
  }
}

//404ページ用(FV無し)
.sub-breadcrumbs--404page{
  color: $white;
  margin-top: rem(90);

  @include mq(md){
    margin-top: rem(100);
  }
}

// WP化する時は下記を消す(ここから)
.sub-breadcrumbs__list ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.sub-breadcrumbs__list li {
  margin: 0;
  padding: 0;
}

.sub-breadcrumbs__list li + li::before {
  content: '>';
  padding: 0 rem(4);
}

// .breadcrumbs__list a {
//   font-size: rem(14);
//   line-height: 1;
//   text-transform: uppercase;
// }
// WP化する時は下記を消す(ここまで)